<template>
    <div>

        <v-snackbar :timeout="0" top v-model="fetchingError">Erreur de chargement
            <v-btn @click="loadRemoteData" color="pink" flat>Réessayer</v-btn>
        </v-snackbar>
        <v-snackbar :timeout="0" top v-model="errorBuying">Impossible de réaliser l'achat
            <v-btn @click="errorBuying=false" color="pink" flat>Fermer</v-btn>
        </v-snackbar>


        <v-dialog v-model="successBuying" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Achat terminé</v-card-title>
                <v-card-text>Vos places ont été achetées avec succès. Vous les recevrez bientôt dans votre boite mail.
                </v-card-text>
                <v-divider/>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="$router.go(-1)" color="primary" flat>Terminer</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-container fluid grid-list-xl name="concert-reservation-view" text-sm-center>
            <v-layout name="concert-reservation-view-layout" row wrap>

                <v-flex xs12>
                    <v-card elevation="6">
                        <v-progress-linear indeterminate v-if="loading"/>

                        <hall-seats-chart :available-seats-index="availableSeatsIndex" :hall="hall"
                                          :selected-seats="selectedSeats"
                                          @seat-clicked="onSeatClicked"
                                          v-if="hall && availableSeatsIndex"/>
                    </v-card>
                </v-flex>
                <v-flex sm9 xs12>
                    <v-container fluid>
                        <v-layout wrap>
                            <v-flex md4 sm6 v-for="seat in selectedSeats" xl2 xs12>
                                <v-card>
                                    <v-card-text>
                                        <span class="blue-grey--text">{{seat.category}}</span><br/>
                                        <v-divider/>
                                        <span class="grey--text">Zone </span><span>{{seat.zone}}</span><br/>
                                        <span class="grey--text">Rangée </span><span>{{seat.row}}</span><br/>
                                        <span class="grey--text">Place </span><span>{{seat.number}}</span><br/>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
                <v-flex sm3 xs12>
                    <v-btn :disabled="selectedSeats.length == 0" :loading="busyBuying" @click="seatsHasBeenValidated"
                           color="primary">
                        Acheter<span>&nbsp;({{selectedSeats.length}})</span>
                    </v-btn>
                    <v-btn @click="$router.go(-1)">Annuler</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
	import HallSeatsChart from "../components/HallSeatsChart";

	export default {
		name: "ConcertReservationView",
		components: {HallSeatsChart},
		data() {
			return {
				loading: false,
				fetchingError: false,
				busyBuying: false,
				errorBuying: false,
				successBuying: false,
				currentConcert: null,
				hall: null,
				selectedSeats: [],
				availableSeatsIndex: null
			}
		},
		props: [
			'concert'
		],
		created() {
			this.loadRemoteData();
		},
		methods: {
			loadRemoteData() {
				this.loading = true;
				this.fetchingError = false;
				this.initConcertAsync().then((r) => {
					this.currentConcert = r.data;
					this.fetchHallAndSeats();
				}).catch(e => {
					console.error(e);
					this.fetchingError = true;
				}).finally(() => {
					this.loading = false;
				})
			},
			initConcertAsync() {
				if (this.concert) {
					return new Promise((r) => {
							r({data: this.currentConcert});
						}
					);
				} else if (this.$route.params.concert) {
					return new Promise((r) => {
							r({data: this.$route.params.concert});
						}
					);
				} else {
					return this.$http.get(this.$config.apiUrl + "/concerts/" + this.$route.params.id);
				}
			},
			fetchHallAndSeats() {
				this.$http.get(this.$config.apiUrl + "/events/" + this.currentConcert.id + "/availableSeats").then((r) => {
					this.availableSeatsIndex = r.data;
				}).catch((e) => {
					console.error(e);
					this.fetchingError = true;
				})

				this.$http.get(this.$config.apiUrl + "/halls/" + this.currentConcert.concertHallId).then((r) => {
					this.hall = r.data;
				}).catch((e) => {
					console.error(e);
					this.fetchingError = true;
				})
			},


			onSeatClicked(seat) {
				if (this.availableSeatsIndex.indexOf(seat.id) > 0) {
					let idx = this.selectedSeats.indexOf(seat);
					if (idx < 0) {
						this.selectedSeats.push(seat);
					} else {
						this.selectedSeats.splice(idx, 1);
					}
				} else {
					console.log("Place déjà occupée")
				}
			},
			seatsHasBeenValidated() {
				this.busyBuying = true;
				this.errorBuying = false;

				let order = [];
				for (let i = 0; i < this.selectedSeats.length; i++) {
					order.push({seatId: this.selectedSeats[i].id});
				}
				this.$http.post(this.$config.apiUrl + "/events/" + this.currentConcert.id + "/orders", order).then(r => {
					this.successBuying = true;
				}).catch((e) => {
					console.error(e);
					this.errorBuying = true;
				}).finally(() => {
					this.busyBuying = false;
				})
			}
		}
	}
</script>

<style scoped>

</style>
