<template>
    <div class="text-xs-justify">
        <v-progress-linear indeterminate v-if="loading"/>
        <v-snackbar :timeout="0" top v-model="error">Erreur de chargement
            <v-btn @click="loadConcerts" color="pink" flat>Réessayer</v-btn>
        </v-snackbar>


        <concerts-list :concerts="concerts" @concert-clicked="onConcertClicked"/>
    </div>
</template>

<script>
	import ConcertsList from "../components/ConcertsList";

	export default {
		name: "ConcertsView",
		components: {ConcertsList},
		data() {
			return {
				concerts: [],
				error: false,
				loading: false
			}
		},
		created() {
			this.loadConcerts();
		},
		methods: {
			loadConcerts() {
				this.error = false;
				this.loading = true;
				this.$http.get(this.$config.apiUrl + "/concerts").then(r => {
					this.concerts = r.data.content;
				}).catch(e => {
					this.error = true;
				}).finally(() => {
					this.loading = false
				});
			},
			onConcertClicked(concert) {
				this.$router.push({name: "ConcertsReservation", params: {concert: concert, id: concert.id}})
			}
		}
	}
</script>

<style scoped>

</style>
