<template>
    <div>
        <v-container fluid grid-list-lg>
            <v-layout row wrap>
                <v-flex :key="concert.id" v-for="concert in concerts" xs12>
                    <v-card>
                        <v-card-title primary-title>
                            <div>
                                <span class="headline">{{concert.artistName}}</span><span
                                    class="grey--text"> le {{formatDate(concert.date)}}</span>
                                <div class="headline" v-if="concert.concertHallName">{{concert.concertHallName}}</div>
                            </div>
                        </v-card-title>
                        <v-card-text>
                            <span>A partir de {{concert.price}}€</span>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="$emit('concert-clicked',concert)" color="primary">Acheter des places</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>

	import moment from "moment"

	export default {
		name: "ConcertsList",
		props: [
			'concerts'
		],
		methods: {
			formatDate(date) {
				return moment(date).local().format("LL")
			}
		}
	}
</script>

<style scoped>

</style>
