<template>
    <div :class="{
                    'selected': isSelected,

                    'cat-floor': seat.category === 'FLOOR',
                    'cat-vip': seat.category === 'VIP',
                    'cat-1': seat.category === 'CAT1',
                    'cat-2': seat.category === 'CAT2',

                    'occupied': isOccupied
                 }"
         :style="{left:(seat.x/10 + 1)+'em', bottom:(seat.y/10 + 1)+'em'}"
         @click="onClick"
         class="seat"
         v-tooltip="'Zone ' + seat.zone + ' - Rangée ' + seat.row +' - Place ' + seat.number +' - ' + seat.category"></div>
</template>

<script>
	export default {
		name: "HallSeat",
		data() {
			return {
				isSelected: false
			}
		},
		props: [
			'seat',
			'isOccupied'
		],
		methods: {
			onClick() {
				if (!this.isOccupied) {
					this.isSelected = !this.isSelected;
					this.$emit('click', this.seat, this.isSelected);
				}
			}
		}
	}
</script>

<style scoped>
    .seat {
        position: absolute;
        width: .9em;
        height: .9em;
        background: #c7dde6;
        border-radius: .1em;
    }

    .selected {
        border: #00eefa solid .05em;
    }

    .seat.occupied {
        background: linear-gradient(.3rad, #657075, #474e52);

    }

    .cat-floor {
        background: linear-gradient(.3rad, #000, #333);
    }

    .cat-vip {
        background: linear-gradient(.3rad, yellow, gold);
    }

    .cat-1 {
        background: linear-gradient(.3rad, #dc1184, #b30d6c);
    }

    .cat-2 {
        background: linear-gradient(.3rad, #51b849, #3c8936);
    }


</style>
