<template>
    <div class="hall">
        <hall-seat
                :is-occupied="isOccupied(seat)"
                :seat="seat"
                @click="$emit('seat-clicked', seat)"
                v-for="seat in hall.seats"
        />
    </div>
</template>

<script>
	import HallSeat from "./HallSeat";

	export default {
		name: "HallSeatsChart",
		components: {HallSeat},
		props: [
			'hall',
			'availableSeatsIndex'
		],
		methods: {
			isOccupied(seat) {
				return !this.availableSeatsIndex.includes(seat.id)
			}
		}
	}
</script>

<style>
    .hall {
        height: 30em;
        position: relative;
        background: #474c57;
        overflow: scroll;
    }
</style>
